@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-repeat: no-repeat; background-image: url(http://cooldownblog.com/wp-content/uploads/2016/09/bigstock-Friends-Happiness-Enjoying-Din-121022003-1080x608.jpg")>
    <div class="container" >
        <h1 style="color:ghostwhite">Groupify</h1>
        <p class="lead" style="color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;">
            Ever planned a potluck or camping trip where the responsibility for who shoud bring what was heinously organized?
            Groupify makes it easy to plan events and delegate who is bringing what items!
        </p>

    </div>
</div>

<div class="row">

    @if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Create an account, add friends to plan with and get going!
            </p>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Login", "Login", "Account", null, null)</h2>

        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Register", "Register", "Account", null, null)</h2>

        </div>
    }
    else
    {
        <div class="col-md-4">
            <h2>View your events</h2>
            <h2>@Html.ActionLink("Events", "Index", "Events", null, null)</h2>
        </div>
    }

</div>