@model IEnumerable<HolidayGroupie.Models.Event>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>
@Html.ActionLink("Create Event", "EventForm", "Events", null, new { @class ="btn btn-outline-success" })
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var myEvent in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(myEvent.Name, "Details", new { id = myEvent.Id }, null)
            </td>
            <td>
                @myEvent.Date
            </td>
        </tr>
        }
    </tbody>
</table>

