<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/27e579ee-3b2a-489e-9194-cce33cee8cb8/resourceGroups/Groupify-plan/providers/Microsoft.Web/sites/Groupify-plan</ResourceId>
    <ResourceGroup>Groupify-plan</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://groupify-plan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>groupify-plan.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Groupify-plan</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Groupify-plan</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=groupify-server.database.windows.net;Initial Catalog=Groupify-DB;User ID=tjb295;Password=Trifoxinc1:42" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HolidayGroupie.Models.ApplicationDbContext, HolidayGroupie" MigrationConfiguration="HolidayGroupie.Migrations.Configuration, HolidayGroupie" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=groupify-server.database.windows.net;Initial Catalog=Groupify-DB;User ID=tjb295;Password=Trifoxinc1:42</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>