@model HolidayGroupie.Models.Friend
@{
    ViewBag.Title = "Model.Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name @Model.LastName</h2>
<button class="btn btn-outline-success">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</button>
<button class="btn btn-outline-danger">
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</button>

