@model IEnumerable<HolidayGroupie.Models.Friend>
@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends</h2>
@if (!Model.Any())
{
    <p>You have not added any friends yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Friend</th>
                <th>Upcoming Event</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var friend in Model)
            {
            <tr>
                <td>@Html.ActionLink(friend.Name + " " + friend.LastName, "Details", new { id = friend.Id }, null)</td>
                @if (friend.UpcomingEvent != null)
                {
                    <td><p>@Html.ActionLink(friend.UpcomingEvent.Name, "Details", "Events", new { id = friend.UpcomingEvent.Id }, null)</p></td>
                }
                else
                {
                    <td><p>No events scheduled</p></td>
                }
            </tr>
            }
        </tbody>
    </table>
}
<div class="fixed-bottom" style="margin: 50px; bottom: 50px; left: 80%; float: right;width:20%; height: 20%;">
    <button style=" border-radius: 10px"class="btn btn-outline-success">
        @Html.ActionLink("Add Friend", "New", "Friends", null)
    </button>
</div>